# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Google Service Account JSON (đừng upload file này lên GitHub)
telegramnewsbot-450502-120fa6cf571b.json

# Logs and temporary files
*.log
*.tmp

# IDE specific files (VSCode, PyCharm, etc.)
.vscode/
.idea/
*.swp
